Greenlight/GTFS_Realtime/shapes.txt filter=lfs diff=lfs merge=lfs -text
Greenlight/GTFS_Realtime/stop_times.txt filter=lfs diff=lfs merge=lfs -text
Pods/MapboxCoreMaps/MapboxCoreMaps.xcframework/ios-arm64/MapboxCoreMaps.framework/MapboxCoreMaps filter=lfs diff=lfs merge=lfs -text
